.main__chatbody {
  flex-grow: 1;
  z-index: 0;
  position: fixed;
  background-color: #7cc6e4;
  padding: 15px 20px;
  display: flex;
  max-height: 1000px;
  margin-bottom: 0px;
  width: 100%;
}
.messimage {
  z-index: 1;
  position: fixed;
  margin-top: 270px;
  // margin-left: 1000px;
  padding-left: 0px;
  margin-left: 70px;
}