.box-search {
  z-index: 0;
  // border-right: 1px solid #ebe7fb;
  // border: solid;
  margin: 0 auto;
  // padding: 0 0px 0 0px;
  Button {
      position: absolute;
      border: solid;
      width: 300px;
    }
}
